* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    background-color: burlywood;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quote-box {
    background-color: antiquewhite;
    padding: 25px 50px;
    border-radius: 3px;
    width: 500px;
}

#text {
    margin-bottom: 20px;
    color: brown;
}

#author {
    display: flex;
    float: right;
}

#footer {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

button {
    border-radius: 3px;
    border-style: none;
    height: 40px;
    width: 150px;
    background-color: brown;
    color: antiquewhite;
    font-size: large;
    cursor: pointer;
    font-family: sans-serif;
}

#tweet-quote {
    width: 40px;
    height: 40px;
    background-color: brown;
    display: grid;
    place-content: center;
    color: white;
    font-size: large;
    border-radius: 3px;
}

#author {
    font-size: larger;
}

.comment {
    margin-top: 10px;
    color: black;
    font-weight: 500;
}
